
        * {
            margin: 0%;
            padding: 0%;
        }
        
        .contact-container {
            display: flex;
            height: 100vh;
            width: 100vw;
            justify-content: center;
            align-items: center;
            flex-shrink: 1;
        }
        
        .contact {
            display: flex;
            /* border: 4px solid black; */
            justify-content: center;
            height: 393px;
            width: 393px;
            padding: 0%;
            flex-shrink: 1;
            background:linear-gradient(to top right , #77b0f5 , rgb(90, 95, 231), #face92);
        }
        
        .contact-e {

            display: flex;
            flex-shrink: 2;
            justify-content: center;
            margin: 9px 0px 0px 0px;
            
        }
        .contact-e-button {

            display: flex;
            flex-shrink: 2;
            justify-content: center;
            text-decoration: none;
            margin: 36px 0px 0px 0px;
            
        }
        
        #contact {
            display: flex;
            justify-content: center;
            width: 28vw;
            font-size: calc(2rem + 1vw);
        }
        
        #name {
            display: flex;
            justify-content: center;
            width: 333px;
        }
        
        #email {
            display: flex;
            justify-content: center;
            width: 333px;
        }
        
        #message textarea{
            display: flex;
            justify-content: center;
            width: 333px;
            height: 11vh;
        }
        #send{
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            width: 333px;
            height: 3vw;
            border: none;
            margin: 0px 0px 0px 0px;
            font-size: 1.5rem;
            background:linear-gradient(to top right , #77b0f5 , rgb(90, 95, 231));
        }
        #send:hover{
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            background:linear-gradient(to top right , #458de4 , rgb(53, 58, 219));
            width: 333px;
            height: 3vw;
            border: none;
            font-size: calc(1.5rem + 1vw +1vh);
        }
        .send-{
            text-decoration: none;
            background-color: #f8c07a;
        }